FORMAT: 1A
HOST: https://api.trainerize.com/

# Trainerize Public API

This is the documentation for the Trainerize Public API

## Group Body Stats 

## Add Body Stats for Client [/bodystats/add]
### /bodystats/add [POST]

Add a client's body stats

---

#### Request Fields:

| Name | Type | Required | Description |
|------|--|-| --------- |
| userID | long | Yes | ID of the client to be queried
| date | date | Yes | ```YYYY-MM-DD``` |
| status | string | Yes | ```scheduled``` |
| unitWeight | string | No | ```kg```, ```lbs``` |
| unitBodystats | string | No | ```inches```, ```cm``` |

#### Response Fields
| Name | Type | Description |
|------|--|---------|
| bodyStatsid | long | dailybodystatus id |

---

#### Errors
| HTTP status | statusMsg | Comments |
| - | --- | --------- |
| 403 | Foribdden access | Client can only access own data |
| 404 | Not found | User not found |
| 406 | Not acceptable | User can only have one bodystats a day |
| 500 | Internal server error | General server error |


+ Request (application/json)

        {
            "userID": {{clientID}},
            "date" : "2018-06-27",
            "status" : "scheduled",
            "unitWeight": "lbs", 
            "unitBodystats":"inches"
        }

+ Response 200 (application/json)

        {
            "bodyStatsID": 943113
        }



## Delete Client Body States [/bodystats/delete]
### /bodystats/delete [POST]

---

#### Request Fields
| Name | Type | Description |
| --- | -- | --------- |
| userID | long | the user ID to delete the body stats for |
| date | date | ```YYYY-MM-DD```  |

---

#### Success
| HTTP status | code | statusMsg | Comments |
| - | - | --- | --------- |
| 200 | 0 | OK | Successful |
| 200 | 3 | OK | Bodystat id not found or bodystat not found on that date |

#### Errors
| HTTP status | statusMsg | Comments |
| - | --- | --------- | 
| 500 | Internal server error | General server error |

+ Request (application/json)

        {
            "userID": {{clientID}},
            "date":"2018-06-27"
        }


+ Response 200 (application/json)

        {
            "msg": "Succesfull",
            "status": 0
        }


## Set Client Body Stats [/questions/2]
### /bodystats/set [POST]
Set the body stats of a client.

---

#### Request Fields:

| Name | Type | Required | Description |
|------|--|-| --------- |
| userid | long | Yes | ID of the client to be queried
| date | string | Yes | ```YYYY-MM-DD``` |
| unitWeight | string | No | ```kg```, ```lbs``` |
| unitBodystats | string | No | ```cm```, ```inches``` |
| bodyMeasures | object | Yes | see object fields below |

###### bodyMeasures
| Name | Type |
| ------ | --- |
| date | date |
| bodyWeight | decimal |
| bodyFatPercent | decimal |
| leanBodyMass | decimal |
| fatMass | decimal |
| chest | decimal |
| shoulders | decimal |
| rightBicep | decimal |
| leftBicep | decimal |
| rightForearm | decimal |
| leftForearm | decimal |
| rightThigh | decimal |
| leftThigh | decimal |
| rightCalf | decimal |
| leftCalf | decimal |
| waist | decimal |
| hips | decimal |
| neck | decimal |
| bloodPressureDiastolic | int |
| bloodPressureSystolic | int |
| caliperBF | decimal |
| caliperMode | byte |
| caliperChest | decimal |
| caliperTriceps | decimal |
| caliperSubscapular | decimal |
| caliperAxilla | decimal |
| caliperAbdomen | decimal |

---

#### Success
| HTTP status | code | statusMsg | Comments |
| - | - | --- | --------- |
| 200 | 0 | OK | Successful. { "bodyMeasures": null, "code": 0} |

#### Errors 
| HTTP status | code | statusMsg | Comments |
| - | - | --- | --------- |
| 404 | | Not found | User not found |
| 406 | 10 | Not acceptable | User can only have one bodystats a day |
| 412 | | Precondition failed | Missing date field |
| 500 | | Internal server error | General server error |

+ Request (application/json)

        {
            "userid": {{clientID}},
            "date": "2018-06-27",
            "unitWeight": "lbs",
            "unitBodystats": "inches",
            "bodyMeasures": {
                "bodyWeight":"66.00",
                "bodyFatPercent":"5.00",
                "chest":"4.00",
                "shoulders":"4.00",
                "rightBicep":"4.00",
                "leftBicep":"4.00",
                "rightForearm":"4.00",
                "leftForearm":"4.00",
                "rightThigh":"4.00",
                "leftThigh":"4.00",
                "rightCalf":"4.00",
                "leftCalf":"4.00",
                "waist":"4.00",
                "hips":"4.00",
                "neck":"4.00",
                "restingHeartRate":"3",
                "bloodPressureSystolic":"120",
                "bloodPressureDiastolic":"80",
                "caliperMode":7,
                "caliperChest":"5",
                "caliperTriceps":"5",
                "caliperSubscapular":"5",
                "caliperAxilla":"5",
                "caliperSuprailiac":"5",
                "caliperAbdomen":"5",
                "caliperThigh":"5",
                "caliperBF":"3.07"
            }
        }

+ Response 201 (application/json)

    + Body

            {
                "id": 943113,
                "status": null,
                "bodyMeasures": null,
                "from": null,
                "code": 0,
                "fromProgram": false
            }



## Get Client Body Stat [/bodystats/get]
### /bodystats/get [POST]

Get the body stats of a client.

---

#### Request Fields:

| Name | Type | Required | Description |
|------|--|-| --------- |
| userID | long | Yes | ID of the client to be queried
| date | string | Yes | ```YYYY-MM-DD``` (no timezone); will grab the most recent body stat entry  |
| unitWeight | string | Yes | ```kg```, ```lbs``` |
| unitBodystats | string | Yes | ```inches```, ```cm``` |
| unitDistance | string | No | ```miles```, ```km```|

#### Response Fields:
| Name | Type | Description |
|------|--| --------- |
| id | long | body status ID |
| status | string | ```scheduled```, ```tracked``` |
| bodyMeasures | object | see object fields below |
| from | string | ```trainerize```, ```fitbit```, ```withings``` |
| fromProgram | boolean ||

###### bodyMeasures
| Name | Type |
| ------ | --- |
| date | date |
| bodyWeight | decimal |
| bodyFatPercent | decimal |
| leanBodyMass | decimal |
| fatMass | decimal |
| chest | decimal |
| shoulders | decimal |
| rightBicep | decimal |
| leftBicep | decimal |
| rightForearm | decimal |
| leftForearm | decimal |
| rightThigh | decimal |
| leftThigh | decimal |
| rightCalf | decimal |
| leftCalf | decimal |
| waist | decimal |
| hips | decimal |
| neck | decimal |
| bloodPressureDiastolic | int |
| bloodPressureSystolic | int |
| caliperBF | decimal |
| caliperMode | byte |
| caliperChest | decimal |
| caliperTriceps | decimal |
| caliperSubscapular | decimal |
| caliperAxilla | decimal |
| caliperAbdomen | decimal |

---

#### Errors
| HTTP status | statusMsg | Comments |
| - | --- | --------- |
| 406 | Not acceptable | Missing date field | 
| 406 | Not acceptable | | Unit weight missing |
| 406 | Not acceptable | | Unit bodystats missing |
| 404 | Not found | User not found |
| 404 | Not found | Can't find the bodystats |
| 412 | Precondition failed | No entry on the date |
| 500 | Internal server error | General server error |

+ Request (application/json)

            { 
                "userID": {{clientID}},
                "date":"2018-06-27",
                "unitWeight": "lbs", 
                "unitBodystats":"inches"
            }

+ Response 200 (application/json)

            {
                "id": 941530,
                "status": "scheduled",
                "bodyMeasures": null,
                "from": "trainerize",
                "code": 21,
                "fromProgram": false
            }